# Dependencies for ESP32/sim scripts (pinned)
protobuf==4.25.3
pyserial==3.5
pyserial-asyncio==0.6
cobs==1.2.1
modbus-crc==0.1.2
python-dotenv==1.0.1

# Plotting/analysis
numpy==1.26.4
scipy==1.11.4
matplotlib==3.8.3
pandas==2.2.1
bokeh==3.3.4
pyqtgraph==0.13.3
